<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.MYLearning"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".FirebaseAuthActivity"
            android:exported="false"
            android:label="@string/title_activity_firebase_auth"
            android:theme="@style/Theme.MYLearning">
            <intent-filter>
                <action android:name="android.intent.action.FIREBASEAUTH" />
            </intent-filter>
        </activity>
    </application>

</manifest>